@font-face {
  font-family: kanit;
  src: url(font/Kanit-Regular.ttf);
  font-style: normal;
}

body {
  margin: 0;
  font-family: kanit;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: kanit
    monospace;
}
